<li>
<strong><%= best_in_place project_property, :name %>:</strong>
<%= best_in_place project_property, :value %>

<%= link_to 'Destroy', project_property, confirm: 'Are you sure?', method: :delete %>
</li>