<%= form_for @sample, :url => project_sample_set_sample_path(params[:project_id], params[:sample_set_id], @sample) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form">
    	<%= f.text_field :code, :placeholder => "Code" %>
    	<%= f.submit('Update Code') %>
  	</div>
<% end %>