<%= form_for @sample do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form">
    	<%= f.text_field :code, :placeholder => "Code" %>
    	<%= f.submit('Update Code') %>
  	</div>
<% end %>