<%= form_for(@sample, :method => "post", :url=> project_sample_set_samples_path(@project.id,@sample_set.id,@sample), :html => { :class => "form-inline"}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form">
    <%= f.text_field :code, :placeholder => "Code" %>
    <%= f.submit('Create Sample') %>
    </div>	
<% end %>
