<%= form_for([@sample_set,@sample_set.samples.build], :html => { :class => "form-inline"}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form">
    <%= f.text_field :code, :placeholder => "Code" %>
    <%= f.submit('Create Sample') %>
    </div>	
<% end %>
