<h2>Editing Sample property: <%= @sample_property.name%></h2>

<%= render 'edit_form' %>

<%= link_to 'Back', project_sample_set_sample_path(params[:project_id], params[:sample_set_id], params[:sample_id]) %>
