<div class="">
  <strong>Sample Set: </strong>
  <%= collection_select(:sample_set, :id, @project.sample_sets, :id, :name) %>
</div>
<span class="header_links">
	<%= link_to 'New', new_project_sample_set_path(@project.id) %>
</span>