<%= form_for(@project, :html => { :class => "form-inline"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Project name" %>
    <%= f.submit('Create Project') %>
  </div>
<% end %>