<h1>New project</h1>
<% logger.info("new html PARAMS: #{params.inspect}") %>
<% logger.info("new html sample PARAMS: #{@sample.inspect}") %>
<% logger.info("new html sample set PARAMS: #{@sample_set.inspect}") %>
<%= render 'form' %>

<%= link_to 'Back', projects_path %>
