<li>
	<strong><%= subject.code%></strong>
	<%= link_to 'Show', project_sample_set_sample_subject_path(params[:project_id], params[:sample_set_id], @sample,subject)%> |
	<%= link_to 'Unlink', project_sample_set_sample_remove_subject_path(params[:project_id], params[:sample_set_id],@sample)%>
</li>