<h1>Listing subjects</h1>
<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= subject.code%></td>
  </tr>
  <br />
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
