<h1>Listing subjects</h1>
<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to 'Edit', edit_project_subject_path(params[:project_id],subject) %></td>
    <td><%= link_to 'Destroy', project_subject_path(params[:project_id], subject), confirm: 'Are you sure?', method: :delete %></td>
    <td><%= subject.code%></td>
  </tr>
  <br />
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_project_subject_path %>
