<footer class="footer">
  
  <nav>
  	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>